version: '3.8'

services:
  backend:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env
    volumes:
      - .wwebjs_auth:/app/.wwebjs_auth
      - ./uploads:/app/uploads
    restart: always

  frontend:
    build:
      context: ./dashboard
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - backend
    environment:
      - VITE_API_URL=http://localhost:3000
    restart: always
